.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: antiquewhite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    width: 350px;
}

h1 {
  text-align: center;
  color: #055432;
  margin-bottom: 20px;
}

.input-field {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.input-field label {
    font-size: 15px;
    margin-bottom: 4px;
    color: #333;
    font-weight: bold;
}

.input-field input {
    padding: 10px;
    border: 1px solid #918888;
    border-radius: 6px;
    outline: none;
    transition: border-color 0.3s;
}

.input-field input:focus {
    border-color: #007bff;
}

.submit-btn {
  width: 100%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.submit-btn:hover {
    background-color: #0056b3;
}

.final-data {
    margin-top: 25px;
    padding-top: 15px;
    border-top: 2px;
    color: #333;
}